@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap"); /* Importing a font */

@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

@font-face {
    font-family: "Imbue";
    src: url("Fonts/Imbue/Imbue-VariableFont_opsz,wght.ttf") format("ttf")
}

* {
    box-sizing: border-box; /* width attribute takes into account padding now 
    
    with this width = 200px including padding
    without this width = 200px and padding will be around*/
    font-family: Aleo; /* Select font for everything */
    color: rgba(28, 28, 28, 0.751)
}

html, body {
    margin: 0;
    padding: 0;
} /* Gets rid of margin near the edge of window  But we may notice that there is a margin at the top... this is because the ul element has a margin as well The fix is below*/

.nav ul {
    margin: 0;
} /* all uls inside a nav class will have no margin */

.nav li {
    display: inline;
} /* indicates that list elements should appear in the same line */

.nav a {
    display: inline-block; /* allows for padding above and below */
    padding: .5em; /* Adds space */
    color: white; /* Nav text is white */
    text-decoration: none; /* Removes underlines */
    /* you may notice no padding on the top or bottom of the elements, this is because inline elements can not having padding above or below */
}

.nav a:hover {
    background-color: #FFFFFF77;
    transform: scale(1.2);
    font-weight: bolder;
} /* Things that happen when we hover over a nav link */

.main-nav {
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
    border-bottom: 2px solid rgba(255, 251, 0, 0.748);
}



.band-name {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: Metal Mania;
    font-weight: normal;
}

.band-name-large {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6em;
    font-family: Metal Mania;
    font-weight: l;
}

.main-header {
    background-color: rgba(0,0,0,0.6); 
    background-image: url("Images/Header-Background.jpg"); /* Specifies url of background image */
    background-blend-mode: multiply; /* combines the two background elemnts image and color */
    background-size: cover; /* Tells make image get as tall or wide as it can before it's border moves past window */
    padding-bottom: 30px; 
}

.content-section {
    margin: 1em;
} /* Gives spacing to para*/

.container {
    margin: 0 auto; /* Top/bottom margin=0 and left right will accomdate */
    max-width: 900px; /* Section will not be larger than 900px */
    padding: 0 1.5em /* Moves text so it's not beside wall*/
} /* */

.section-header {
    font-family: "New Rocker";
    font-weight: normal;
    color: black;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    height: 100px; 
    width: 200px;
    float: left; /* Image will move to left side and text will flow around it */
    margin: 15px; /* margin between image and text */
    border-radius: 50%; /* applies circular border 50% will result in a oval/circle */
}

.main-footer {
    background-color: red;
    padding: .25em;
}

.footer-nav {
    float: right;
}

.main-footer-container {
    display: flex;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0.5em;
}

.footer-nav img {
    width: 40px;
    height: 40px
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    background-color: transparent;
    border: 2px solid;
    font-size: 1.5em;
    border-radius: 0;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    transform: scale(1.2);
    background-color: #FFFFFF77;

}


.btn-play {
    display: block;
    border-radius: 50%;
    font-weight: lighter;
    margin: 0 auto;
    font-size: 4em;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}


.tour-row:last-child {
    border-bottom: none;
    margin-bottom: none;
    padding-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: 0.5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 20%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    background-color:rgb(255, 0, 0);
    color: white;
    border: 1px solid;
    font-weight: bold;
    max-width: 16%;
    border-radius: 10%;
}

.primary-btn {
    background-color:rgb(255, 0, 0);
    color: white;
    border: 1px solid;
    font-weight: bold;
    border-radius: 10%;
}

.tour-btn:hover {
    font-weight: bolder;
    transform: scale(1.1);
}

.primary-btn:hover {
    font-weight: bolder;
    transform: scale(1.2);
}

.shop-item {
    margin: 30px;   
}

.shop-item-title {
    display: block; /* title will appear on it's own line */
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shop-item-details {
    display: flex;
    align-items: center; /* Aligns the text with the button */
    padding-top: 15px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex; /* all one line */
    flex-wrap: wrap; /* wraps around */
    justify-content: space-around;
}

.shop-item-price {
    font-weight: bold;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: black
}

.cart-column {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    margin-right: 1.5em;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color:#333
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: orange;
    border: none;
    font-weight: bold;
    border-radius: 10%;
}

.btn-danger:hover {
    transform: scale(1.2);
    font-weight: bolder;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: black solid;
    color: black;
    background-color: rgba(189, 183, 107, 0.249);
    text-align: center;
    font-size: 1.2em;
    vertical-align: baseline;
}